<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>صفحه تماس</title>
  </head>
  <body>
    <form method="post" action="{% url 'contact' %}">
      {% csrf_token %} {{ form.non_field_errors }} {{ form.as_p }}
      <button type="submit">ارسال</button>
    </form>

    {% for field in form %} {% if field.errors %}
    <div class="error">
      <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endfor %}
  </body>
</html>
